.socialBar {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.socialBar a {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
}

.socialBar a:hover {
  opacity: 0.8;
}
